<!--/* <tr data-sly-use.model="com.jss.aem.intranet.core.directives.Topic" */-->
<!--/*     is="coral-table-row" */-->
<!--/*     data-id="${model.name}" */-->
<!--/*     data-path="${model.path}"> */-->

<!--/*     &lt;!&ndash;Checkbox for selection&ndash;&gt; */-->
<!--/*     <td is="coral-table-cell"> */-->
<!--/*         <coral-checkbox coral-table-rowselect/> */-->
<!--/*     </td> */-->

<!--/*     <td is="coral-table-cell" value="${model.title}"> */-->
<!--/*         <span>${model.title}</span> */-->
<!--/*     </td> */-->

<!--/*     &lt;!&ndash;TODO: Implement&ndash;&gt; */-->
<!--/*     <td is="coral-table-cell" value="NOT IMPLEMENTED"> */-->
<!--/*         <span>NOT IMPLEMENTED</span> */-->
<!--/*     </td> */-->

<!--/*     <td is="coral-table-cell" value="${model.path}"> */-->
<!--/*         <span>${model.path}</span> */-->
<!--/*     </td> */-->
        <!--/* </tr> */-->