#query-field, coral-alert-content {
    font-family: 'Source Code Pro', Monaco, monospace
}

#query-field {
    height: 200px;
    width: 600px;
}

coral-alert {
    width: 100%;
}

.coral-Form--vertical .coral-Form-fieldwrapper {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
}
