// AEM TouchUI grey theme
@aem-dark-color: #4b4b4b;

// Editor highlight blue
@highlight: #2583d8;

// Highlight the button if the wireframe is active
#wireframe-button {
    color: #a0a0a0;

    &.wireframe-active {
        color: white;
    }
}

// Display the bounding boxes and component name in grey, regardless of selection
.wireframe .cq-Overlay {
    color: @aem-dark-color;
    border-color: @aem-dark-color;
    border: solid .125rem;
    margin: -0.125rem;

    .cq-Overlay--component-name {
        display: block;
        color: white;
        background-color: @aem-dark-color;
    }

    // Retain the blue color for active, hover or selected component
    &.is-hover,
    &.is-active,
    &.is-selected {
        color: @highlight;
        border-color: @highlight;

        .cq-Overlay--component-name {
            display: block;
            color: white;
            background-color: @highlight;
            font-weight: bold;
        }
    }
}